<section>
    <p class="crypto" [@outIn]="outIn">{{base}}-{{currency}} Compra: {{amount}}</p>
</section>

<section>
    <div *ngFor="let item of market">
        <div *ngIf="showStocks">
            <div id="stocks" *ngIf="item === 'stocks'">
                <app-analysis (showResponse)="showResponse($event)" *ngIf="goAheadStocks" [strategies]="stocks"
                    [typeOfMarket]="item"></app-analysis>
            </div>
        </div>
        <div *ngIf="showComodities">
            <div id="comodities" *ngIf="item === 'comodities'">
                <app-analysis (showResponse)="showResponse($event)" *ngIf="goAheadComodities" [strategies]="comodities"
                    [typeOfMarket]="item"></app-analysis>
            </div>
        </div>
        <div *ngIf="showForex">
            <div id="forex" *ngIf="item === 'forex'">
                <app-analysis (showResponse)="showResponse($event)" *ngIf="goAheadForex" [strategies]="forex"
                    [typeOfMarket]="item"></app-analysis>
            </div>
        </div>
    </div>
</section>