<section>
    <p class="crypto" [@outIn]="outIn">{{base}}-{{currency}} Compra: {{amount}}</p>
</section>

<section>
    <div *ngFor="let item of market">
        <div *ngIf="item === 'stocks'">
            <app-analysis *ngIf="goAheadStocks" [strategies]="stocks" [typeOfMarket]="item"></app-analysis>
        </div>
        <div *ngIf="item === 'comodities'">
            <app-analysis *ngIf="goAheadComodities" [strategies]="comodities" [typeOfMarket]="item"></app-analysis>
        </div>
        <div *ngIf="item === 'forex'">
            <app-analysis *ngIf="goAheadForex" [strategies]="forex" [typeOfMarket]="item"></app-analysis>
        </div>
    </div>
</section>