<section *ngIf="(showStocks && showCommodities && showForex)">
    <p class="crypto" [@outIn]="outIn">{{base}}-{{currency}} Compra: {{amount}}</p>
</section>

<section>
    <div *ngIf="showStocks">
        <div id="stocks">
            <app-analysis (showResponse)="showResponse($event)" *ngIf="goAheadStocks" [strategies]="stocks"
                [onlyOneMarket]="oneMarket">
            </app-analysis>
        </div>
    </div>
    <div *ngIf="showCommodities">
        <div id="commodities">
            <app-analysis (showResponse)="showResponse($event)" *ngIf="goAheadCommodities" [strategies]="commodities"
                [onlyOneMarket]="oneMarket">
            </app-analysis>
        </div>
    </div>
    <div *ngIf="showForex">
        <div id="forex">
            <app-analysis (showResponse)="showResponse($event)" *ngIf="goAheadForex" [strategies]="forex"
                [onlyOneMarket]="oneMarket">
            </app-analysis>
        </div>
    </div>
</section>