<section>
    <p class="crypto" [@outIn]="outIn">{{base}}-{{currency}} Compra: {{amount}}</p>
</section>

<div [@imgAnimation]="imgAnimation">
    <section class="strategy-head" *ngFor="let item of asset">
        <div class="container-img">
            <img class="strategy-img" [src]="item.srcImage" [alt]="item.alt">
        </div>
        <div class="strategy-item">
            <p>{{item.name}} </p>
            <p>{{item.strategy}}</p>
            <p>{{item.price}} </p>
            <div>Detalles</div>
        </div>
    </section>
    <section class="container">
        <div class="strategy" *ngFor="let item2 of assets; let i = index">
            <div class="container-img">
                <img class="strategy-img" [src]="item2.srcImage" [alt]="item2.alt">
            </div>
            <div class="strategy-item">
                <p>{{item2.name}} </p>
                <p>{{item2.strategy}}</p>
                <p>{{item2.price}} </p>
            </div>
        </div>
    </section>
</div>