.banner {
  color: #daf13e;
  text-align: center;
  transform: translateX(100%);
}

h1 {
  color: #daf13e;
  margin-top: 15px;
}

h2 {
  color: cadetblue;
}

main {
  border-bottom: .1rem solid #dadada;
  margin-bottom: 15px;
}

button {
  /* width: 100%; */
  margin-right: 5px;
}

.nameAsset {
  color: cadetblue;
}

.wrap-button {
  width: 85px;
}

.wrap-img-head {
  overflow: hidden;
}

.img-strategy-head {
  max-width: 100%;
  margin-bottom: 10px;
}

.wrap-strategy-content {
  color: cadetblue;
  cursor: pointer;

}

.strategy-rest {
  display: flex;
  margin-bottom: 10px;
}

.wrap-img-rest {
  margin-right: 5px;
}

.img-rest {
  /* max-width: 100%; */
  max-width: 160px;
}


@media (min-width: 480px)  { 
  
  .strategy-head {
    max-width: 100%;
    display: flex;
    margin-bottom: 15px;
  }
  
  .strategy-head .wrap-img-head {
    margin-right: 5px;
  }
  
  .wrap-strategies {
    display: flex;
    padding: 0;
  }
  
  .strategy-rest {
    display: block;
    margin-right: 15px;
  }
  
  .img-rest {
    max-width: 100%;
    margin-bottom: 5px;
  }
  
}

/* ******* share *********** */

.subMenu {
  margin: 15px 0 15px 0;
}

.btn-back {
  width: 85px;
}

.share {
  max-width: 90%;
  margin: 0 auto;
}

.img-share {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
}

@media (min-width: 480px)  { 
  .share {
    max-width: 75%;
    margin: 0 auto;
  }
}




