<p class="banner" [@banner]="isActive ? 'active' : 'closed'">Toda teoria es correcta hasta que se demuestra que es
    incorrecta</p>

<p class="crypto" [@openClose]="isOpen ? 'open' : 'closed'">{{base}}-{{currency}} Compra: {{amount}}</p>
<div class="strategy-head">
    <div class="container-img">
        <img class="strategy-img" src="../assets/img/USDMXN.png" alt="">
    </div>
    <div class="strategy-item">
        <p>USD/MXN </p>
        <p>Estrategia: posicionarse corto, es decir venta del USD y compra del MXN.</p>
        <p>Precio de entrada en los 21, con objetivo de los 20 y limite de perdidas en los 22 </p>
        <div>Detalles</div>
    </div>
</div>
<div class="container">
    <div class="strategy">
        <div class="container-img">
            <img class="strategy-img" src="../assets/img/USDMXN.png" alt="">
        </div>
        <div class="strategy-item">
            <p>USD/MXN </p>
            <p>Estrategia: posicionarse corto, es decir venta del USD y compra del MXN.</p>
            <p>Precio de entrada en los 21, con objetivo de los 20 y limite de perdidas en los 22 </p>
            <div>Detalles</div>
        </div>
    </div>
    <div class="strategy">
        <div class="container-img">
            <img class="strategy-img" src="../assets/img/USDMXN.png" alt="">
        </div>
        <div class="strategy-item">
            <p>USD/MXN </p>
            <p>Estrategia: posicionarse corto, es decir venta del USD y compra del MXN.</p>
            <p>Precio de entrada en los 21, con objetivo de los 20 y limite de perdidas en los 22 </p>
        </div>
    </div>
    <div class="strategy">
        <div class="container-img">
            <img class="strategy-img" src="../assets/img/USDMXN.png" alt="">
        </div>
        <div class="strategy-item">
            <p>USD/MXN </p>
            <p>Estrategia: posicionarse corto, es decir venta del USD y compra del MXN.</p>
            <p>Precio de entrada en los 21, con objetivo de los 20 y limite de perdidas en los 22 </p>
        </div>
    </div>
</div>