.banner {
  color: #daf13e;
  text-align: center;
  transform: translateX(100%);
}

h2 {
  color: cadetblue;
}

.strategy-head {
  display: block;
}

.wrap-strategy {
  cursor: pointer;
}

.img-principal {  
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.strategy {
  display: flex;
  margin-bottom: 15px;
}

.img-strategy {
  max-width: 160px;
  margin-right: 5px;
}


@media (min-width: 480px)  { 

  .strategy-head {
    max-width: 100%;
    display: flex;
    margin-bottom: 15px;
  }

  .strategy-head .wrap-img {
    margin-right: 5px;
  }

  .wrap-strategies {
    display: flex;
    padding: 0;
  }
  
  .strategy {
    display: block;
    margin-right: 15px;
  }

  .wrap-img {
    flex: 0 1 auto;
  }

  .wrap-strategy {
    flex: 0 1 auto;
  }
  
  .img-strategy {
    max-width: 100%;
    margin-bottom: 5px;
  }

  /* ******* share *********** */
  
  .share {
    max-width: 80%;
    margin: 0 auto;
  }
  
}

  