<div *ngIf="!isActiveDetails">
    <section [@imgAnimation]="imgAnimation">
        <h1>{{typeOfMarket}}</h1>
        <div id="start" *ngFor="let item of strategy; let i = index">
            <div class="strategy-head" *ngIf="i == 0 ">
                <div class="wrap-img-head">
                    <img class="img-strategy-head" [src]="item.urlImg" [alt]="item.altImg">
                </div>
                <div class="wrap-strategy-content" (click)="getDetails(item)">
                    <p>{{item.asset}} </p>
                    <p>{{item.strategy}}</p>
                    <p>{{item.buySell}} </p>
                    <p>{{item.createdAt | date: 'd MMM, y'}}</p>
                </div>
            </div>
        </div>
        <div class="wrap-strategies">
            <div *ngFor="let item of restOfStrategies; let i = index">
                <div class="strategy-rest">
                    <div class="wrap-img-rest">
                        <img class="img-rest" [src]="item.urlImg" [alt]="item.altImg">
                    </div>
                    <div class="wrap-strategy-content" (click)="getDetails(item)">
                        <p>{{item.asset}} </p>
                        <p>{{item.strategy}}</p>
                        <p>{{item.buySell}} </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div *ngIf="isActiveDetails">
    <section class="share" *ngIf="share">
        <h2>El {{share.asset}}</h2>
            <img class="img-share" [src]="share.urlImg" [alt]="share.altImg">
        <p>Estrategia: {{share.position}}</p>
        <p>{{share.strategy}}</p>
        <p>Entrada alrededor de los {{share.buySell|currency}}, como se muetra en
            el grafico con un stop loss en los {{share.stopLoss| currency}} y un objetivo en los
            {{share.takeProfit|currency}} </p>
        <p>El ratio riesgo beneficio es de {{performanceRisk}} a 1.</p>
    </section>
    <button class="btn btn-primary" (click)="backToAllMarkets()">Regresar a inicio</button>
    <button class="btn btn-primary" (click)="backTypeOfMarket()">Regresar a {{typeOfMarket}}</button>
</div>