<div>
  <h1>Estrategias y conclusiones</h1>
  <section>
    <div class="header">
      <div class="spacer"></div>
      <label for="idea" class="idea-label">Idea de trading:</label>
      <input id="newIdea" class="idea-input" type="text" name="newIdea" [(ngModel)]="newIdea"
        (ngModelChange)="inputChange($event)">
      <div class="spacer"></div>
    </div>
  </section>




  <section>
    <h2 class="ideas-list">Ideas</h2>
    <div cdkDropList #ideasList="cdkDropList" [cdkDropListData]="ideas"
      [cdkDropListConnectedTo]="[strategiesList, conclusionList]" class="box-list" (cdkDropListDropped)="drop($event)">
      <div class="box-item" *ngFor="let item of ideas" cdkDrag>{{item.idea}}</div>
    </div>
  </section>

  <section class="strategy-list">
    <div class="example-container">
      <h2>Estrategias</h2>

      <div cdkDropList #strategiesList="cdkDropList" [cdkDropListData]="strategies"
        [cdkDropListConnectedTo]="[ideasList, conclusionList]" class="box-list2" (cdkDropListDropped)="drop($event)">
        <div class="box-item2" *ngFor="let item of strategies" cdkDrag>{{item.idea}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Conclusiones</h2>

      <div cdkDropList #conclusionList="cdkDropList" [cdkDropListData]="conclusion"
        [cdkDropListConnectedTo]="[ideasList, strategiesList]" class="box-list2" (cdkDropListDropped)="drop($event)">
        <div class="box-item2" *ngFor="let item of conclusion" cdkDrag>{{item.idea}}</div>
      </div>
    </div>
  </section>

  <section>
    <div *ngIf="ideas">
      <ul>
        <li *ngFor="let item of ideas; let i = index">
          <div class="ideas">

            <div class="idea" *ngIf="ideaEdit && (idEdit == i) ; then showEdit else showIdea"></div>
            <ng-template #showIdea>
              {{i+1}}) {{item.idea}}
            </ng-template>
            <ng-template #showEdit>
              <input id="newIdea" class="idea-trading-input" type="text" name="newIdea" value="{{item.idea}}"
                (keyup.enter)="inputUpdate(item.id, $event.target.value)">
            </ng-template>

            <div class="spacer"></div>
            <div class="btn-edit btn" (click)="(ideaEdit = true) && idEdit = i">edit</div>
            <div name="delete" (click)="onDeleteIdea(item)"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16"
                class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd"
                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd"
                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
              </svg></div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>