h1 {
    text-align: center;
    color: #daf13e;
}

label {
    color: #daf13e;
    width: 130px;
    text-align: right;
}

input {
    border: 0;
    background-color: transparent;
    color: #45a12e;
    border-bottom: 1px solid green;
    text-align: center;
    width: 100px;
}

form {
    border-bottom: .1rem solid #dadada;
    padding-bottom: 15px;
}

.error-numerico {
    color: rgb(235, 72, 72);
    margin-top: 5px;
}

.field {
    margin: 0 auto;
    width: 230px;
    margin-bottom: 5px;
}

.calculate {
    display: flex;
    justify-content: space-evenly;
}

.result-items {
    color: #daf13e;
    display: flex;
    align-items: center ;
}

.result {
    align-content: center;
    width: 100px;
    height: 47px;
    line-height: 47px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: rgb(87, 93, 173);
    border-bottom: 1px solid rgb(87, 93, 173);
    border-right: 1px solid rgb(87, 93, 173);
    box-shadow: 5px 5px 15px rgb(87, 93, 173);
    border-radius: 5px;
    margin: 0 15px 0 15px;
}

.newStrategy {
    margin-top: 15px;
    display: flex;
    justify-content: center;
 }