<div class="container">
  <h1>Rendimiento/Riesgo</h1>
  <div class="data">
    <div class="fieldP-R">
      <label for="stopLoss">StopLoss:</label>
      <input #stop maxlength="10" type="text" name="stopLoss" [(ngModel)]="stopLoss"
        (keyup.enter)="onChangeValue(stop.value, 'buy')">
      <!-- (ngModelChange)="onChangeValue($event)"> -->
    </div>
    <div class="fieldP-R">
      <label for="buySell">Compra/Venta: </label>
      <input #buy maxlength="10" type="text" name="buySell" [(ngModel)]="buySell"
        (keyup.enter)="onChangeValue(buy.value, 'profit')">
    </div>
    <div class="fieldP-R">
      <label for="takeProfit">Toma de utilidades:</label>
      <input #profit maxlength="10" type="text" name="takeProfit" [(ngModel)]="takeProfit"
        (keyup.enter)="onChangeValue(profit.value, 'stop')">
    </div>
  </div>
  <div class="performance">
    <p result-title>Relación rendimiento/riesgo: </p>
    <span class="result">{{performanceRisk | number: '1.0-2'}}</span>
    <p>a 1.</p>
  </div>
</div>