<h1>Estrategia</h1>
<form [formGroup]="strategyForm" (ngSubmit)="sendForm(strategyForm.value)">

    <div class="form-fields">
        <label>Activo:</label>
        <input id="asset" formControlName="asset" type="text">
        <label>Estrategia:</label>
        <textarea name="" id="strategy" cols="21" rows="3" formControlName="strategy"></textarea>
        <!-- <input id="strategy" formControlName="strategy" type="text"> -->

        <label for="">Url de la imagen:</label>
        <input id="urlImg" formControlName="urlImg" type="url">
        <label for="">Descripcion de la imagen:</label>
        <input id="altImg" formControlName="altImg" type="text">

        <label for="">Limite de perdida:</label>
        <input id="stopLoss" formControlName="stopLoss" type="text">
        <label for="">Precio de entrada:</label>
        <input id="buySell" formControlName="buySell" type="text">
        <label for="">Toma de beneficios:</label>
        <input id="takeProfit" formControlName="takeProfit" type="text" [disabled]="!habilitar">

        <div class="container-button">
            <button type="submit" class="btn btn-primary"
                [disabled]="!(strategyForm.valid && isLogged)">Guardar</button>
        </div>
        <!-- <i class="bi bi-arrow-90deg-up"></i> -->
        <button class="btn btn-secondary" (click)="returnPerformanceRisk()"><svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z" />
            </svg></button>
    </div>
</form>