h1 {
    text-align: center;
    margin-top: 15px;
    color: #daf13e;
}

button {
    width: 189px;
    margin: 0 auto;
    margin-top: 10px;
    /* display: block; */
}

input {
    display: block;
    background-color: transparent;
    text-align: center;
    color: green;
    border: 0;
    border-bottom: 1px solid green ;
    border-radius: 5px;
    box-shadow: 1px 1px 5px green;
    margin-bottom: 10px;
}

label {
    width: 160px;
    display: block;
    color: #daf13e;
}

textarea {
    color: green;
    background-color: transparent;
    border: 1px solid green;
    margin-bottom: 10px;
}

.form-fields input:last-of-type {
    margin-bottom: 8px;
}

.form-fields {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: .1rem solid #dadada;
    margin-bottom: 15px;
}

.container-button {
    max-width: 189px;
    margin: 0 auto;
}

span {
    color: green;
    margin-left: 5px;
}

.radio {
    display: flex;
}

.wrap-fields {
    display: flex;
    flex-wrap: wrap;
}

.wrap-field {
    margin-right: 15px;
}

@media (min-width: 480px)  {
    
    .form-fields {
        max-width: 85%;
        margin: 0 auto;
    }
    
    
  
    
}
