.container {
    margin-top: 15px;
    /* max-width: 400px; */
    padding: 25px;
    background-image: url(https://kamanalysys.s3.eu-central-1.amazonaws.com/assets/images/reloj.jpeg); 
/*    
    background-image: url(https://master.d2ggfysibfn5i5.amplifyapp.com/assets/images/reloj.jpeg); 
*/
    background-size: 100% 100%;
}

h1 {
    text-align: center;
    color: #daf13e;
}

h2 {
    text-align: center;  
    color: green;
}

label {
    display: block;
    color: green;
}

input {
    border-radius: 10px;
    text-align: center;
}

.error {
    margin-top: 5px;
    text-align: center;
    color: rgb(235, 82, 82);
}

.restart {
    display: flex;
    justify-content: center;
}

.back {
    background-color: honeydew;
}

.time {
    background-color: transparent;
    border: 1px solid green;
    max-width: 120px;
    color: #daf13e;
}

.timer {
    width: 120px;
    margin: 0 auto;
    font-size: 20px;
    justify-content: space-evenly;
}

.downContainer {
    /* display: flex;
    justify-content: center; */
    margin: 15px; 
    font-size: 30px;
}

.countDown {
    margin: 0 auto;
    color: green;
    background-color: transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border: 1px solid green;
    text-align: center;
}

.spacer {
    display: 1 1 auto;
}
