.container {
    margin-top: 15px;
    /* max-width: 400px; */
    padding: 25px;
    background-image: url(https://kamanalysys.s3.eu-central-1.amazonaws.com/assets/images/reloj.jpeg); 
/*    
    background-image: url(https://master.d2ggfysibfn5i5.amplifyapp.com/assets/images/reloj.jpeg); 
*/
    background-size: 100% 100%;
}

h1 {
    text-align: center;
    color: #daf13e;
}
h2 {
    text-align: center;  
    color: green;
}

label {
    /* margin-right: 15px;  */
    color: green;
}

input {
    border-radius: 10px;
    text-align: center;
}

input::placeholder {
    color: green;
    /*color: #daf13e;*/
    opacity: .5;

}

.error {
    text-align: center;
    color: brown;
}

.restart {
    display: flex;
    justify-content: center;
}

.back {
    background-color: honeydew;
}

.time {
    background-color: transparent;
    border: 1px solid green;
    max-width: 120px;
    /* background-color: #2e2ebd; */
    /* color: #daf13e; */
    color: green;
}

.timer {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.finishTimer {
    display: flex;
    justify-content: center;
    margin: 15px;
    text-align: center;
    font-size: 30px;
}

.countDown {
    color: green;
    background-color: transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border: 1px solid green;
}

.spacer {
    display: 1 1 auto;
}
