p {
    text-align: center;
}

label {
    width: 115px;
    text-align: right;
    margin-right: 5px;
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 25px 5px;
}

form {
    padding-bottom: 15px;
    border-bottom: .1rem solid #dadada ;
    margin-top: 15px;

}

.button-container {
    display: flex;
    justify-content: center;
}

.gap-error {
    text-align: center;
    color: red;
}

.data-gap {
    color: #007bff;
}

.form-fields {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    align-items: baseline;
}

.btn-header {
    display: flex;
}

.spacer {
    flex: 0 1 125px;
    margin-right: 5px;
}

.button-save {
    flex: 1 1 auto;
}

.container {
    color: rgb(213, 235, 20);
}

.date {
    width: 130px;
}

.percentage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 10px;
    /* border-bottom: .1rem solid #dadada; */
}

.element-header {
    flex: 0 1 auto;
    padding: 5px;
}

.element-percentage {
    flex: 0 1 auto;
    color: #28a745;
    margin-right: 5px;
}

.header-history {
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.menu {
    display: flex;
    justify-content: center;
}

.element-menu {
    flex: 0 1 auto;
    color: chartreuse;
    margin-right: 5px;
    cursor: pointer;
}

@media (min-width: 480px) {
    
    .form-fields {
        width: 100%;
        justify-content: center;
        flex-wrap: nowrap;
    }
    
}

